//* IMPORTS

@use '../global/vars';
@use '../global/mixins';
@use '../global/extends';

.noResultsCard {
  @include mixins.flex-box();

  width: 60%;
  margin: auto;

  .noResultsText {
    font-family: vars.$titles-primary;
    font-size: vars.$secondary-title-font-size;
    text-shadow: vars.$text-shadow-noResults;
    text-align: center;
  }

  .noResultsGif {
    width: 200px;
    transform: translateX(10%);
    filter: vars.$noResults-img-dropShadow;
  }
}

.bandArticle {
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;

  background-color: vars.$bg-cardArticle;
  border-radius: 5px;
  box-shadow: vars.$cardArticle-boxShadow;
}

.bandCardHeader {
  @include mixins.flex-box($jc: space-around);
  margin-top: 10px;
  margin-bottom: 10px;

  .bandLogo {
    width: 30%;
    max-height: 170px;

    filter: vars.$bandCardHeader-img-dropShadow;
  }

  .bandPhoto {
    position: relative;
    width: 30%;
    max-width: 350px;
    max-height: 270px;

    border-radius: 5px;
    box-shadow: vars.$band-photo-boxShadow;

    transition: all 0.5s ease-in-out;
    filter: grayscale(1);
    cursor: pointer;

    &.expanded {
      transform: scale(2);
      box-shadow: vars.$band-bandPhoto-hover-boxShadow;
    }
  }

  .bandFlag {
    width: 70px;

    filter: vars.$bandCardHeader-img-dropShadow;
  }
}

.bandCardBody {
  @include mixins.flex-box($gap: 20px);
}

.albumContainer {
  @include mixins.flex-box($direction: column);
  transition: all 0.5s ease-in-out;

  width: 200px;
  height: 300px;

  background-color: vars.$bg-cardAlbum;
  border-radius: 5px;
  box-shadow: vars.$band-photo-boxShadow;
  cursor: pointer;
}

.albumContainerCover {
  @include mixins.flex-box($wrap: nowrap);

  .albumCoverImg {
    width: 70px;
    height: 70px;
  }

  .coverDataContainer {
    @include mixins.flex-box($direction: column);
  }
}

.albumDataContainer {
  @include mixins.flex-box($direction: column);
}

.rateContainer {
  @include mixins.flex-box();

  .rateImage {
    width: 20px;
  }
}

.expanded {
  transform: scale(1.5);
  z-index: 5;
  box-shadow: vars.$band-albumCard-hover-boxShadow;
}
