//* IMPORTS

@use '../global/vars';
@use '../global/mixins';
@use '../global/extends';

form {
  @include mixins.flex-box($direction: column, $gap: vars.$gap-xs);
  position: relative;
  width: vars.$width-per-l;
  margin: auto;
  padding: vars.$form-padding-top-bottom 0;
  background-image: url(https://res.cloudinary.com/dd0zwrz0b/image/upload/v1730587266/Project%202%20%7C%20Filters%20shopping:%20Goblin%20Heavy%20Metal%20Store/BG%20images/metal-antideslizante-fondo-textura-oxido-rojo-oxidado-metales-oxido-corrosivo-hierro-viejo_483511-1530_ssv6bv.avif);
  background-size: cover;
  box-shadow: vars.$button-reset-boxShadow;
  border-radius: vars.$border-radius-form;

  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

form.visible {
  opacity: 1;
  transform: translateX(0);
}

.formInputDiv {
  @include mixins.flex-box($direction: column, $gap: vars.$gap-xxs);
  width: vars.$width-per-xxl;
}

.formInputLabel {
  font-family: vars.$text;
  letter-spacing: 0.015rem;
  font-size: vars.$secondary-title-font-size;
  color: vars.$text-secondary-color;
  text-shadow: vars.$text-shadow-label;
}

.formInputDiv > input,
.formInputDiv > select {
  width: vars.$width-per-m;
  height: vars.$input-height;
  text-align: center;
  font-family: vars.$text;
  text-shadow: vars.$text-shadow-label;
  font-size: vars.$secondary-title-font-size;
  border-radius: vars.$border-radius-input;
  color: vars.$text-inputs;
  transition: all 0.3s ease-in-out;
  background-color: vars.$bg-primary;
  cursor: pointer;

  &:focus {
    border-color: vars.$border-color-inputs;
    outline: none;
  }

  &:hover {
    border-color: vars.$border-color-inputs;
    filter: vars.$header-img-dropShadow;
  }
}

.submitButton {
  @extend %search-resetButton;
  @include mixins.flex-box($jc: center);
  margin: auto;
  margin-top: vars.$margin-l;
  padding: 0;
  width: vars.$width-submit-button;
  border-radius: 30px;
}
