//* IMPORTS

@use '../global/vars';
@use '../global/mixins';
@use '../global/extends';

.buttonsContainer {
  @include mixins.fixed-tag($fixed-tag-top: 295px, $fixed-tag-bgImage: null);
  @include mixins.flex-box($jc: space-between, $ai: start, $wrap: nowrap);
  height: auto;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

.button {
  @extend %buttons;
}

#resetButton {
  @include mixins.flex-box(
    $direction: row-reverse,
    $jc: start,
    $gap: vars.$gap-s
  );
  padding-left: vars.$padding-l;
  border-radius: 0;
  border-top-left-radius: vars.$border-radius-button;
  border-bottom-left-radius: vars.$border-radius-button;
  box-shadow: vars.$button-reset-boxShadow;

  .buttonIcon {
    width: 40px;

    @media (max-width: 510px) {
      width: 0;
    }
  }
}

@media (max-width: 510px) {
  .button {
    width: 100px;
    height: 20px;
    margin-top: 0;

    margin-bottom: 20px;
    padding-right: vars.$spacing-m;

    .buttonIcon {
      width: 0;
    }

    p {
      font-size: vars.$button-font-size-extraSmall;
      text-shadow: none;
      padding-top: 3px;
      height: 30px;
    }
  }
}
