//* IMPORTS

@use '../global/vars';
@use '../global/mixins';

//* SEARCH MENU BUTTON

.searchMenuButton {
  @include mixins.flex-box($justify-content: end, $gap: 0.5em);
  width: 200px;
  margin-top: 10px;
  border: vars.$noBorder;
  height: 50px;
  background-color: vars.$button-secondary-color;
  color: vars.$button-text-color;
  margin-bottom: 20px;
  padding-right: 20px;
  border-top-right-radius: vars.$border-radius-button;
  border-bottom-right-radius: vars.$border-radius-button;
  cursor: pointer;
  box-shadow: vars.$button-boxShadow;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: vars.$button-primary-color;
    transform: scale(1.05);

    .searchMenuIcon {
      filter: grayscale(50%);
    }
  }

  p {
    font-family: vars.$button;
    font-size: vars.$button-font-size;
    height: 30px;
  }
}

.searchMenuIcon {
  width: 50px;
  filter: grayscale(100%);
}
