@use './vars';
@use './mixins';

%footerDiv {
  height: vars.$container-height-xs;
  text-align: center;
  padding-bottom: vars.$padding-xxs;
  color: vars.$text-secondary-color;
  flex: 1 1 30%;
}

%footerLink {
  color: vars.$text-links;
  font-size: vars.$link-font-size;
  cursor: pointer;
  text-shadow: vars.$text-shadow-links;
}

%buttons {
  @include mixins.flex-box($jc: end, $gap: 0.5em);

  width: 200px;
  height: 50px;
  margin-top: 10px;
  border: vars.$noBorder;

  color: vars.$primary-color;
  margin-bottom: 20px;
  padding-right: vars.$spacing-m;
  border-top-right-radius: vars.$border-radius-button;
  border-bottom-right-radius: vars.$border-radius-button;
  box-shadow: vars.$button-boxShadow;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: vars.$button-primary-color;
      color: vars.$button-text-color;
      transform: scale(1.05);

      .buttonIcon {
        filter: grayscale(50%);
      }
    }
  }

  p {
    font-family: vars.$button;
    font-size: vars.$button-font-size;
    text-shadow: vars.$text-shadow-button;
    height: 30px;
  }

  .buttonIcon {
    @include mixins.search-reset-icons($width: 50px, $filter: grayscale(100%));
  }
}
