@use './vars';

%footerDiv {
  height: vars.$container-height-xs;
  text-align: center;
  padding-bottom: vars.$padding-xxs;
  color: vars.$text-secondary-color;
  flex: 1 1 30%;
}

%footerLink {
  color: vars.$text-links;
  font-size: vars.$link-font-size;
  cursor: pointer;
  text-shadow: vars.$text-shadow-links;
}
