@use './vars';

@mixin fixed-tag(
  $fixed-tag-top: null,
  $fixed-tag-bottom: null,
  $fixed-tag-bgImage,
  $fixed-tag-clipPath: null,
  $fixed-tag-zIndex: null
) {
  width: 100%;
  height: vars.$header-footer-height;
  display: flex;
  position: fixed;
  background-size: cover;
  overflow-y: hidden;

  @if $fixed-tag-top != null {
    top: $fixed-tag-top;
  }
  @if $fixed-tag-bottom != null {
    bottom: $fixed-tag-bottom;
  }

  background-image: url($fixed-tag-bgImage);

  @if $fixed-tag-clipPath != null {
    clip-path: $fixed-tag-clipPath;
  }
}

@mixin header-footer-images(
  $height: null,
  $top: null,
  $bottom: null,
  $left: null,
  $right: null,
  $filter: null,
  $animation: null,
  $zIndex: null
) {
  position: absolute;
  @if $height != null {
    height: $height;
  }
  @if $top != null {
    top: $top;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $left != null {
    left: $left;
  }
  @if $right != null {
    height: $right;
  }
  @if $filter != null {
    filter: $filter;
  }
  @if $animation != null {
    animation: $animation;
  }
  @if $zIndex != null {
    z-index: $zIndex;
  }
}

@mixin search-reset-icons($width, $filter) {
  width: $width;
  filter: $filter;
}

//? FLEX MIXINS

@mixin flex-box(
  $direction: row,
  $jc: center,
  $ai: center,
  $gap: null,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  @if $gap != null {
    gap: $gap;
  }
  flex-wrap: $wrap;
}
