//! FONTS

//? FONT FAMILY
@font-face {
  font-family: am-vinyl;
  src: url(../fonts/AmVinyl.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: back-to-the-fantasy;
  src: url(../fonts/BackToTheFantasy.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: HGRegular;
  src: url(../fonts/Highway-Gothic/HGRegular.TTF);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$titles-primary: am-vinyl, 'Open Sans', system-ui, -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif;
$titles-secondary: back-to-the-fantasy, 'Open Sans', system-ui, -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif;
$text: HGRegular, 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$button: $titles-primary;

//? FONT SIZE

$primary-title-font-size: 50px;
$secondary-title-font-size: 30px;
$button-font-size: 2.5em;
$link-font-size: 16px;
$text-mediaquery-font-size: 12px;

//! COLORS

$primary-color: coral;
$primary-mid-color: #faa88a;
$primary-light-color: #f7c559;
$secondary-color: whitesmoke;
$secondary-dark-color: #585858;
$terciary-color: #151515;

$text-primary-color: $secondary-dark-color;
$text-secondary-color: $secondary-color;
$text-links: $primary-light-color;

$bg-primary: $secondary-color;

$button-primary-color: $primary-color;
$button-secondary-color: $primary-mid-color;
$button-text-color: $secondary-color;

//! SPACINGS

$spacing-xxs: 5px;
$spacing-xs: 10px;
$spacing-s: 15px;
$spacing-m: 20px;
$spacing-l: 25px;
$spacing-xl: 30px;
$spacing-xxl: 35px;

$header-footer-height: 250px;

$container-height-xxs: 100px;
$container-height-xs: 120px;
$container-height-s: 140px;
$container-height-m: 160px;
$container-height-l: 180px;
$container-height-xl: 200px;
$container-height-xxl: 240px;

$width-xxs: $spacing-m;
$width-xs: $spacing-xl;
$width-s: 40px;
$width-m: 50px;
$width-l: 60px;
$width-xl: 70px;
$width-xxl: 80px;

$img-width-xxs: $width-xxs;
$img-width-xs: $width-xs;
$img-width-s: $width-s;
$img-width-m: $width-l;
$img-width-l: $width-xxl;
$img-width-xl: 100px;
$img-width-xxl: 140px;

$margin-xxs: -7rem;
$margin-xs: -4rem;
$margin-s: -2rem;
$margin-m: 0.5rem;
$margin-l: 1rem;
$margin-xl: 2rem;
$margin-xxl: 4rem;
$margin-xxxl: 4.5rem;

$gap-xxs: $spacing-xxs;
$gap-xs: $spacing-xs;
$gap-s: $spacing-s;
$gap-m: $spacing-m;
$gap-l: $spacing-l;
$gap-xl: $spacing-xl;
$gap-xxl: $spacing-xxl;

$padding-xxs: $spacing-xxs;
$padding-xs: $spacing-xs;
$padding-s: $spacing-s;
$padding-m: $spacing-m;
$padding-l: $spacing-l;
$padding-xl: $spacing-xl;
$padding-xxl: $spacing-xxl;

//! BORDERS

$noBorder: none;

$border-radius-button: $spacing-xl;

//! SHADOWS
//? TEXT SHADOWS
$text-shadow-secondary-dark: $secondary-dark-color $spacing-xxs 0px 0px,
  $secondary-dark-color 4.90033px 0.993347px 0px,
  $secondary-dark-color 4.60531px 1.94709px 0px,
  $secondary-dark-color 4.12668px 2.82321px 0px,
  $secondary-dark-color 3.48353px 3.58678px 0px,
  $secondary-dark-color 2.70151px 4.20736px 0px,
  $secondary-dark-color 1.81179px 4.6602px 0px,
  $secondary-dark-color 0.849836px 4.92725px 0px,
  $secondary-dark-color -0.145998px 4.99787px 0px,
  $secondary-dark-color -1.13601px 4.86924px 0px,
  $secondary-dark-color -2.08073px 4.54649px 0px,
  $secondary-dark-color -2.94251px 4.04248px 0px,
  $secondary-dark-color -3.68697px 3.37732px 0px,
  $secondary-dark-color -4.28444px 2.57751px 0px,
  $secondary-dark-color -4.71111px 1.67494px 0px,
  $secondary-dark-color -4.94996px 0.7056px 0px,
  $secondary-dark-color -4.99147px -0.291871px 0px,
  $secondary-dark-color -4.83399px -1.27771px 0px,
  $secondary-dark-color -4.48379px -2.2126px 0px,
  $secondary-dark-color -3.95484px -3.05929px 0px,
  $secondary-dark-color -3.26822px -3.78401px 0px,
  $secondary-dark-color -2.4513px -4.35788px 0px,
  $secondary-dark-color -1.53666px -4.75801px 0px,
  $secondary-dark-color -0.560763px -4.96845px 0px,
  $secondary-dark-color 0.887495px -4.98082px 0px,
  $secondary-dark-color 1.41831px -4.79462px 0px,
  $secondary-dark-color 2.34258px -4.41727px 0px,
  $secondary-dark-color 3.17346px -3.86382px 0px,
  $secondary-dark-color 3.87783px -3.15633px 0px,
  $secondary-dark-color 4.4276px -2.32301px 0px,
  $secondary-dark-color 4.80085px -1.39708px 0px,
  $secondary-dark-color 4.98271px -0.415447px 0px;

$text-shadow-primary: $primary-color $spacing-xxs 0px 0px,
  $primary-color 4.90033px 0.993347px 0px,
  $primary-color 4.60531px 1.94709px 0px, $primary-color 4.12668px 2.82321px 0px,
  $primary-color 3.48353px 3.58678px 0px, $primary-color 2.70151px 4.20736px 0px,
  $primary-color 1.81179px 4.6602px 0px, $primary-color 0.849836px 4.92725px 0px,
  $primary-color -0.145998px 4.99787px 0px,
  $primary-color -1.13601px 4.86924px 0px,
  $primary-color -2.08073px 4.54649px 0px,
  $primary-color -2.94251px 4.04248px 0px,
  $primary-color -3.68697px 3.37732px 0px,
  $primary-color -4.28444px 2.57751px 0px,
  $primary-color -4.71111px 1.67494px 0px,
  $primary-color -4.94996px 0.7056px 0px,
  $primary-color -4.99147px -0.291871px 0px,
  $primary-color -4.83399px -1.27771px 0px,
  $primary-color -4.48379px -2.2126px 0px,
  $primary-color -3.95484px -3.05929px 0px,
  $primary-color -3.26822px -3.78401px 0px,
  $primary-color -2.4513px -4.35795px 0px,
  $primary-color -1.53666px -4.75801px 0px,
  $primary-color -0.560763px -4.96845px 0px,
  $primary-color 0.957495px -4.98082px 0px,
  $primary-color 1.41831px -4.79462px 0px,
  $primary-color 2.34258px -4.41727px 0px,
  $primary-color 3.17346px -3.86382px 0px,
  $primary-color 3.87783px -3.15633px 0px,
  $primary-color 4.4276px -2.32301px 0px,
  $primary-color 4.80085px -1.39708px 0px,
  $primary-color 4.98271px -0.415447px 0px;

$text-shadow-primary-light: $primary-light-color $spacing-xxs 0px 0px,
  $primary-light-color 4.90033px 0.993347px 0px,
  $primary-light-color 4.60531px 1.94709px 0px,
  $primary-light-color 4.12668px 2.82321px 0px,
  $primary-light-color 3.48353px 3.58678px 0px,
  $primary-light-color 2.70151px 4.20736px 0px,
  $primary-light-color 1.81179px 4.6602px 0px,
  $primary-light-color 0.849836px 4.92725px 0px,
  $primary-light-color -0.145998px 4.99787px 0px,
  $primary-light-color -1.13601px 4.86924px 0px,
  $primary-light-color -2.08073px 4.54649px 0px,
  $primary-light-color -2.94251px 4.04248px 0px,
  $primary-light-color -3.68697px 3.37732px 0px,
  $primary-light-color -4.28444px 2.57751px 0px,
  $primary-light-color -4.71111px 1.67494px 0px,
  $primary-light-color -4.94996px 0.7056px 0px,
  $primary-light-color -4.99147px -0.291871px 0px,
  $primary-light-color -4.83399px -1.27771px 0px,
  $primary-light-color -4.48379px -2.2126px 0px,
  $primary-light-color -3.95484px -3.05929px 0px,
  $primary-light-color -3.26822px -3.78401px 0px,
  $primary-light-color -2.4513px -4.35788px 0px,
  $primary-light-color -1.53666px -4.75801px 0px,
  $primary-light-color -0.560763px -4.96845px 0px,
  $primary-light-color 0.887495px -4.98082px 0px,
  $primary-light-color 1.41831px -4.79462px 0px,
  $primary-light-color 2.34258px -4.41727px 0px,
  $primary-light-color 3.17346px -3.86382px 0px,
  $primary-light-color 3.87783px -3.15633px 0px,
  $primary-light-color 4.4276px -2.32301px 0px,
  $primary-light-color 4.80085px -1.39708px 0px,
  $primary-light-color 4.98271px -0.415447px 0px;

$text-shadow-links: 1px 3px 0 $terciary-color, 1px 13px 5px $primary-light-color;

//? BOX SHADOWS
$button-boxShadow: -4px 9px 11px 0px $secondary-dark-color;

//? DROP SHADOW
$header-img-dropShadow: drop-shadow(0 0 5px $primary-color)
  drop-shadow(0 0 10px $primary-color);

$footer-img-dropShadow: drop-shadow(0 0 3px $primary-light-color)
  drop-shadow(0 0 1px $primary-light-color);
