//* IMPORTS

@use '../../global/vars';
@use '../../global/mixins';

//* MAIN-TITLE

.titleContainer {
  @include mixins.fixed-tag(
    $fixed-tag-top: vars.$container-height-m - 10px,
    $fixed-tag-bgImage: null,
    $fixed-tag-zIndex: 1
  );
  height: auto;
  background-color: vars.$secondary-color;
  margin-top: 5px;
  clip-path: polygon(0 41%, 100% 68%, 100% 100%, 0% 100%);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: vars.$spacing-xxs;
    background: linear-gradient(
      to right,
      vars.$primary-color,
      vars.$secondary-color
    );
  }

  h1 {
    font-family: vars.$titles-primary;
    font-size: vars.$primary-title-font-size;
    margin: 80px 20px;
    margin-bottom: 0;
    color: vars.$primary-color;
    rotate: 2.5deg;

    text-shadow: vars.$text-shadow-secondary-dark;

    span {
      color: vars.$secondary-dark-color;
      text-shadow: vars.$text-shadow-primary;
    }

    @media (max-width: 500px) {
      font-size: vars.$primary-title-font-size - 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  h2 {
    font-family: vars.$titles-secondary;
    font-size: vars.$secondary-title-font-size;
    margin-top: 90px;
    color: vars.$primary-light-color;
    letter-spacing: 0.115rem;
    rotate: 2.5deg;

    text-shadow: vars.$text-shadow-secondary-dark;

    span {
      font-family: vars.$titles-primary;
      color: vars.$secondary-dark-color;
      text-shadow: vars.$text-shadow-primary-light;
    }

    @media (max-width: 500px) {
      font-size: vars.$secondary-title-font-size - 10px;
    }
  }
}
