//* IMPORTS

@use '../global/animations' as *;
@use '../global/mixins';

//* FOOTER

.containerFooterDiv {
  @include mixins.fixed-tag(
    null,
    0,
    './assets/bgImages/Animated footer bg.gif',
    polygon(0% 50%, 100% 15%, 100% 100%, 0 100%),
    null
  );
}

.pyramidImg {
  height: 400px;
  margin-top: -7rem;
  margin-left: -4rem;
  z-index: 3;
  filter: brightness(67%) blur(1px);
  rotate: -5deg;
}

.zombieImg {
  position: absolute;
  height: 200px;
  right: 4rem;
  bottom: -10px;
  animation: xtranslate 10s infinite;
}
