//* IMPORTS

@use '../global/animations' as *;
@use '../global/vars';
@use '../global/mixins';
@use '../global/extends';

//* FOOTER

footer {
  @include mixins.fixed-tag(
    $fixed-tag-clipPath: polygon(0% 50%, 100% 15%, 100% 100%, 0 100%),
    $fixed-tag-bgImage: null
  );

  position: relative;
  font-family: vars.$text;
}

.containerFooterDiv {
  @include mixins.fixed-tag(
    $fixed-tag-bottom: 0,
    $fixed-tag-bgImage: './assets/bgImages/Animated footer bg.gif',
    $fixed-tag-clipPath: polygon(0% 50%, 100% 15%, 100% 100%, 0 100%)
  );

  position: absolute;
}

.pyramidImg {
  @include mixins.header-footer-images(
    $height: 400px,
    $filter: brightness(67%) blur(1px)
      drop-shadow(0 0 3px vars.$primary-light-color)
      drop-shadow(0 0 1px vars.$primary-light-color),
    $animation: none,
    $zIndex: 3
  );

  margin-top: vars.$margin-xxs;
  margin-left: vars.$margin-xs;
  rotate: -5deg;

  @media (max-width: 500px) {
    height: 300px;
    margin-top: vars.$margin-s;
    rotate: -3deg;
  }
}

.infoContainer {
  @include mixins.flex-box($ai: end, $gap: vars.$gap-m, $wrap: no-wrap);
  position: absolute;
  height: vars.$container-height-xs;
  bottom: 0;
  left: 0;
  width: 70%;
  margin-left: vars.$margin-l;
  margin-bottom: vars.$margin-m;
  z-index: 4;

  @media (max-width: 720px) {
    width: 90%;
    margin-left: vars.$margin-m;
  }

  div {
    @extend %footerDiv;
  }
}

.policiesDiv {
  ul {
    @include mixins.flex-box($direction: column, $jc: end, $gap: vars.$gap-xs);
    height: vars.$container-height-xxs;

    a {
      @extend %footerLink;
      text-shadow: vars.$text-shadow-links;
    }

    @media (max-width: 720px) {
      gap: vars.$gap-xxs;
      a {
        font-size: vars.$text-mediaquery-font-size;
      }
    }
  }
}

.socialDiv {
  @include mixins.flex-box($direction: column, $gap: vars.$gap-xs);
  max-width: 120px;

  @media (max-width: 720px) {
    justify-content: end;
  }

  ul {
    @include mixins.flex-box($jc: space-evenly, $gap: vars.$gap-xxs);

    .footerIcon {
      width: vars.$img-width-xs;
      filter: vars.$footer-img-dropShadow;
    }
  }
}

.copyrightDiv {
  a {
    @extend %footerLink;

    img {
      max-width: vars.$img-width-xl;

      @media (max-width: 720px) {
        max-width: vars.$img-width-l;
      }
    }
  }

  p {
    font-size: vars.$text-mediaquery-font-size;
    text-shadow: vars.$text-shadow-links;
  }
}

.zombieImg {
  // @include mixins.header-footer-images(
  //   200px,
  //   null,
  //   null,
  //   null,
  //   4em,
  //   drop-shadow(0 0 3px vars.$primary-light-color)
  //     drop-shadow(0 0 1px vars.$primary-light-color),
  //   xtranslate 10s infinite,
  //   null
  // );

  position: absolute;
  height: 200px;
  right: 1rem;
  bottom: -(vars.$spacing-xs);
  filter: vars.$footer-img-dropShadow;
  animation: xtranslate 10s infinite;
  z-index: 3;

  @media (max-width: 500px) {
    height: 160px;
    right: 0.5rem;
    bottom: -(vars.$spacing-xxs);
  }
}
