//* IMPORTS

@use '../global/animations' as *;
@use '../global/vars';
@use '../global/mixins';
@use '../global/extends';

//* HEADER

header {
  @include mixins.fixed-tag(
    $fixed-tag-top: 0,
    $fixed-tag-bgImage:
      'https://res.cloudinary.com/dwjwglwsq/image/upload/v1735905189/Hbg_clear_vkyhwy_dkyruz.png',
    $fixed-tag-clipPath: polygon(0 0, 100% 0, 100% 100%, 0 85%),
    $fixed-tag-zIndex: 5
  );

  @media (max-height: 400px) {
    position: relative;
  }
}

.headerImg {
  @include mixins.header-footer-images(
    $height: 130px,
    $filter: vars.$header-img-dropShadow,
    $animation: glow 8s infinite,
    $zIndex: 4
  );

  margin-top: vars.$margin-xxxl;
  margin-left: vars.$margin-xxl;

  @media (max-width: 500px) {
    margin-left: vars.$margin-xl;
  }
}

.explosionGifDiv {
  @include mixins.header-footer-images($top: -28%, $zIndex: 3);

  opacity: 0.7;
}

.skeletonImg {
  position: absolute;
  height: 320px;
  right: 4em;
  bottom: -100px;
  animation: pulse 8s infinite;
  z-index: 4;

  @media (max-width: 500px) {
    height: 200px;
    right: 0.5rem;
    bottom: -50px;
  }
}
