//* IMPORTS

@use '../global/animations' as *;
@use '../global/mixins';

//* HEADER

header {
  @include mixins.fixed-tag(
    0,
    null,
    'https://res.cloudinary.com/dd0zwrz0b/image/upload/v1729012391/Project%202%20%7C%20Filters%20shopping:%20Goblin%20Heavy%20Metal%20Store/BG%20images/Hbg_clear_vkyhwy.png',
    polygon(0 0, 100% 0, 100% 100%, 0 85%),
    5
  );

  div > img {
    position: absolute;
    height: 130px;
    margin-top: 5rem;
    margin-left: 4rem;
    z-index: 3;

    filter: drop-shadow(0 0 5px coral) drop-shadow(0 0 10px coral);
    animation: glow 8s infinite;
  }
}

.skeletonImg {
  height: 320px;
  right: 4em;
  bottom: -100px;
  animation: pulse 8s infinite;
}

.explosionGifDiv {
  bottom: 42%;
  opacity: 0.7;
  z-index: 2;
}
