//* IMPORTS */

@use './styles/layouts/header';
@use './styles/layouts/footer';
@use './styles/layouts/body-main/mainGeneral';
@use './styles/layouts/body-main/mainTitle';
@use './styles/components/band-album-cards-new';
@use './styles/components/search-reset-buttons-new';

//* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
