//* IMPORTS */

@use './styles/layouts/header';
@use './styles/layouts/footer';
@use './styles/layouts/body-main/mainGeneral';
@use './styles/layouts/body-main/mainTitle';

//* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
